html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-size: 72px;
}
#map {
    background-image:url(../img/worldmap.png);
    background-size: auto;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}
.city {
    position: relative;
    font-family: arial;
    font-size: 1vw;
    display: inline;
}

.yellow {
    border: 3px yellow solid;
}
.blue {
    border: 3px blue solid;
}
.red {
    border: 3px red solid;
}
.black {
    border: 3px black solid;
}