html, body {
    margin: 0;
    font-family: arial;
    font-size: 32px;
    border: 2px rgb(51,51,51) solid;
}
h1 {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-size: 80px;
    font-weight: bold;
    margin: 0 0 0 20px;
}
h2 {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    background: rgb(51,51,51);
    color: white;
    font-size: 40px;
}
h3 {
    padding: 50px;
    line-height: 1.5;
}
.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 100%;
    width: 100%;
}
.left {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
    justify-self: center;
    width: 100%;
    grid-template-rows: 10% 70% 20%;
}
.playerOneHeading {
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100%;
}
.handOne {
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: end;
    overflow-y: auto;
}
.playerOneConsole {
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    align-self: end;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
button {
    background-color: rgb(51,51,51);
    font-family: 'Titillium Web', sans-serif;
    color: rgb(51,51,51);
    border: none;
    width: 100%;
    height: 70px;
    margin: 2px auto;
    font-size: 18px;
}
.middle {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
    border-left: 5px rgb(51,51,51) solid;
    border-right: 5px rgb(51,51,51) solid;
}
.map {
    grid-row-start: 1;
    grid-row-end: 2;
}
.middleCenter {
    grid-row-start: 2;
    grid-row-end: 3;
}
.cityDivsLocation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    margin-top: 10px;
}
.cityDiv {
    width: 200px;
    height: auto;
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    margin: 2px;
}

.bottom {
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-template-columns: 1fr 1fr;
    border-top: 5px rgb(51,51,51) solid;
}
.bottomLeft {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
    align-self: center;
    text-align: center;
}
.yellowCure {
    background-color: rgb(219,191,106);
    border: 2px rgb(51,51,51) solid;
    color: white;
    width: 120px;
    height: 10px;
    font-size: 10px;
    padding: 2px;
}
.blueCure {
    background-color: rgb(95,119,158);
    border: 2px rgb(51,51,51) solid;
    color: white;
    width: 120px;
    height: 10px;
    font-size: 10px;
    padding: 2px;
}
.blackCure {
    background-color: rgb(51,51,51);
    border: 2px rgb(51,51,51) solid;
    color: white;
    width: 120px;
    height: 10px;
    font-size: 10px;
    padding: 2px;
}
.redCure {
    background-color: rgb(160,83,77);
    border: 2px rgb(51,51,51) solid;
    color: white;
    width: 120px;
    height: 10px;
    font-size: 10px;
    padding: 2px;
}
.bottomRight {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    justify-self: center;
    align-self: center;
}
.instructionsButton {
    background-color: rgb(51,51,51);
    font-family: 'Titillium Web', sans-serif;
    color: white;
    border: none;
    width: 180px;
    height: 80px;
}
.instructionsButton:hover {
    transform: scale(1.2);
}

.right {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    justify-self: center;
    width: 100%;
    grid-template-rows: 10% 70% 20%;
}
.playerTwoHeading {
    grid-row-start: 1;
    grid-row-end: 2;
    height: 70px;
}
.handTwo {
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: end;
    overflow-y: auto;
}
.playerTwoConsole {
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    align-self: end;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}
img {
    width: 99%;
    height: auto;
    margin: 0 auto;
}
.card {
    color: white;
    text-align: center;
    padding: 5% 0;
    font-size: 16px;
    font-weight: bold;
    /* border: 5px rgb(51,51,51) solid; */
}
.redBorder {
    border: 5px rgb(160,83,77) solid;
}
.blueBorder {
    border: 5px rgb(95,119,158) solid;
}
.yellowBorder {
    border: 5px rgb(219,191,106) solid;
}
.blackBorder {
    border: 5px rgb(51,51,51) solid;
}
.red {
    background: rgb(160,83,77);
    color: white;
    padding-top: 2px;
    border: 5px white solid;
}
.blue {
    background: rgb(95,119,158);
    color: white;
    padding-top: 2px;
    border: 5px white solid;
}
.yellow {
    background: rgb(219,191,106);
    color: white;
    padding-top: 2px;
    border: 5px white solid;
}
.black {
    background: rgb(51,51,51);
    color: white;
    padding-top: 2px;
    border: 5px white solid;
}

#infectionModal {
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
    overflow: auto;
    display: none;
}
#infectionModalTextbox {
	background-color: white;
	height: 50%;
	width: 50%;
    border-radius: 2px;
    line-height: 20px;
    margin: auto;
    text-align: center;
}
#closeInfection {
    color: white;
}

#epidemicModal {
    background-color: rgb(160,83,77);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
    overflow: auto;
    display: none;
}
#epidemicModalTextbox {
	background-color: white;
	height: 50%;
	width: 50%;
    border-radius: 2px;
    line-height: 20px;
    margin: 30px auto;
    text-align: center;
}
#epidemicModalTextbox h1 {
    padding-top: 50px;
    padding-bottom: 20px;
}
#closeEpidemic {
    color: white;
}

#instructionsModal {
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
    overflow: auto;
    display: none;
}
#instructionsModalTextbox {
	background-color: white;
	height: 70%;
    width: 70%;
    padding: 30px;
    border-radius: 2px;
    line-height: 20px;
    margin: 30px auto;
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
}
#instructionsModalTextbox h1 {
    /* padding-top: 50px;
    padding-bottom: 20px; */
}
#closeInstructions {
    color: white;
}

#winModal {
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
    overflow: auto;
    display: none;
}
#winModalTextbox {
	background-color: white;
	height: 50%;
	width: 50%;
    border-radius: 2px;
    line-height: 20px;
    margin: auto;
    text-align: center;
}
#closeWin {
    color: white;
}

#loseModal {
    background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
    overflow: auto;
    display: none;
}
#loseModalTextbox {
	background-color: white;
	height: 50%;
	width: 50%;
    border-radius: 2px;
    line-height: 20px;
    margin: auto;
    text-align: center;
}
#closeLose {
    color: white;
}

@media only screen and (max-width: 1000px) {
    iframe {
      width: 50%;
    }
  }