html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: arial;
    font-size: 20px;
}
h1 {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 4vw;
}
h2 {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 3vw;
}
.container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    height: 100%;
    width: 100%;
}
.left {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-template-rows: 80% 20%;
    justify-self: center;
    border: 5px rgb(51,51,51) solid;
    width: 99%;
}
.handOne {
    grid-row-start: 1;
    grid-row-end: 2;
}
.playerOne {
    grid-row-start: 2;
    grid-row-end: 3;
}
.middle {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-template-rows: 30% 1fr 40%;
    justify-self: center;
    border: 5px rgb(51,51,51) solid;
    padding: 10px;
    width: 96%;
}
.map {
    grid-row-start: 1;
    grid-row-end: 2;
}
.table {
    border: 5px rgb(51,51,51) solid;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}
table {
    width: 100%;
    height: auto;
}
.bottom {
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-template-columns: 1fr 1fr 1fr;
}
.bottomLeft {
    grid-column-start: 1;
    grid-column-end: 2;
}
.bottomMiddle {
    grid-column-start: 2;
    grid-column-end: 3;
}
.bottomRight {
    grid-column-start: 3;
    grid-column-end: 4;
}
.right {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-template-rows: 80% 20%;
    justify-self: center;
    border: 5px rgb(51,51,51) solid;
    width: 99%;
}
.handTwo {
    grid-row-start: 1;
    grid-row-end: 2;
}
.playerTwo {
    grid-row-start: 2;
    grid-row-end: 3;
}
img {
    width: 100%;
    height: auto;
}
.card {
    width: 50%;
    height: 20%;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    border: 5px white solid;
}
.red {
    background: rgb(160,83,77);
}
.blue {
    background: rgb(95,119,158);
}
.yellow {
    background: rgb(219,191,106);
}
.black {
    background: rgb(51,51,51);
}